:root {
  /* color */
  --color-black: #000000;
  --color-silver: #c0c0c0;
  --color-dark-blue: #1a374e;
  --color-beige: #faf0e6;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
  --color-white: #ffffff;
  /* size */
  --size-button: 60px;
  --size-border: 4px;
  --font-size: 18px;
  --base-space: 8px;
  --size-thumbnail: 50px;
  /* animation */
  --animation-duration: 300ms;
}

* {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  height: 100vh;
  background-image: url('./img/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.491);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

img {
  width: 60px;
  height: 55px;
}

.logo {
  width: 150px;
  height: 100px;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

.imgBtn_apple {
  width: var(--size-button);
  height: 47px;
}
.buttons {
  display: flex;
  align-items: center;
  gap: var(--base-space);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.silver {
  background-color: var(--color-silver);
}

.darkBlue {
  background-color: var(--color-dark-blue);
  color: var(--color-beige);
}

.black {
  background-color: var(--color-black);
  color: var(--color-beige);
}

.items {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  margin-bottom: var(--base-space);
  width: 80%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
  border-radius: 10px;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-top: var(--base-space);
  margin-bottom: var(--base-space);
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: 40px;
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
